.chroma, code { background-color: #e4fffd }
.chroma .err {  }
.chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
.chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: 100%; overflow: auto; display: block; }
.chroma .hl { display: block; width: 100%;background-color: #ffffcc }
.chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; display: block; }
.chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
.chroma .k  { color: #aa22ff }
.chroma .kc { color: #aa22ff }
.chroma .kd { color: #aa22ff }
.chroma .kn { color: #aa22ff }
.chroma .kp { color: #aa22ff }
.chroma .kr { color: #aa22ff }
.chroma .kt { color: #00bb00 }
.chroma .na { color: #bb4444 }
.chroma .nb { color: #aa22ff }
.chroma .nc { color: #0000ff }
.chroma .no { color: #880000 }
.chroma .nd { color: #aa22ff }
.chroma .ni { color: #999999 }
.chroma .ne { color: #d2413a }
.chroma .nf { color: #00a000 }
.chroma .nl { color: #1122ff }
.chroma .nn { color: #0000ff }
.chroma .nt { color: #008000 }
.chroma .nv { color: #b8860b }
.chroma .s  { color: #bb4444 }
.chroma .sa { color: #bb4444 }
.chroma .sb { color: #bb4444 }
.chroma .sc { color: #bb4444 }
.chroma .dl { color: #bb4444 }
.chroma .sd { color: #bb4444; font-style: italic }
.chroma .s2 { color: #bb4444 }
.chroma .se { color: #bb6622 }
.chroma .sh { color: #bb4444 }
.chroma .si { color: #bb6688 }
.chroma .sx { color: #008000 }
.chroma .sr { color: #bb6688 }
.chroma .s1 { color: #bb4444 }
.chroma .ss { color: #b8860b }
.chroma .m  { color: #00cc2e }
.chroma .mb { color: #00cc2e }
.chroma .mf { color: #00cc2e }
.chroma .mh { color: #00cc2e }
.chroma .mi { color: #00cc2e }
.chroma .il { color: #00cc2e }
.chroma .mo { color: #00cc2e }
.chroma .o  { color: #cc7741; }
.chroma .ow { color: #aa22ff }
.chroma .c  { color: #008800; font-style: italic }
.chroma .ch { color: #008800; font-style: italic }
.chroma .cm { color: #008800; font-style: italic }
.chroma .c1 { color: #008800; font-style: italic }
.chroma .cs { color: #008800 }
.chroma .cp { color: #008800 }
.chroma .cpf { color: #008800 }
.chroma .gd { color: #a00000 }
.chroma .ge { font-style: italic }
.chroma .gr { color: #ff0000 }
.chroma .gh { color: #000080 }
.chroma .gi { color: #00a000 }
.chroma .go { color: #888888 }
.chroma .gp { color: #000080 }
.chroma .gs { font-weight: bold }
.chroma .gu { color: #800080 }
.chroma .gt { color: #0044dd }
.chroma .w  { color: #bbbbbb }
.chroma .p  { color: #45a3ff }
